* {
  margin: 0;
  padding: 0;
}

body {
  margin: -16px;
}

.navbar {
  margin-top: 0%;
  margin-left: 1%;
}

.App {
  text-align: center;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.logo {
  width: 15vw;
  margin-top: -64px;
  height: 17vh;

  /* float: right; */
  margin-left: 75%;
  display: flex;
  flex-direction: column;
  /* align-items: ; */
  justify-content: center;
  transition: all 10s;

}

.heading {

  text-align: center;
  color: rgb(6, 84, 6);
}

.list-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  size: 15cm;

}

.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 134px;
  margin-left: 2%;
}

.form-check-input {
  display: flex;
  flex-direction: row;
  /* margin-left: 272%;
  margin-top: -26%; */
  margin-left: 205%;
  margin-top: -22%;
}

.btn {
  margin-left: 100%;
  margin-top: -51%;
}

.list-switch {
  margin-left: 47%;
}

.card {
  float: right;
  margin-top: 10%;
  /* margin-left: 60%; */
}

/* .container {
  margin-left: 30%;
  width: 20px;
  height: 20px;
} */

.rounded {
  margin-top: -55px;
  width: 200px;
  height: 200px;
  /* float: right; */
  /* float: left; */
  margin-left: 80%;

}

/* .col-md-6 {
  width: 50%;
} */
.form {
  display: flex;
  flex-direction: column;
  /* float: right; */
  /* width: 415px;
  height: 128px; */
  margin-left: 2%;
  margin-top: 0%;
}

#exampleFormControlTextarea1 {
  width: 415px;
  height: 128px;
}

.btn-success {

  float: right;
  margin-top: -1%;
  width: 10%;
  height: 31px;
  margin-left: 1%;
  float: left;
  float: right;
  margin-right: 84%;
}

.friends {
  margin-top: 0;
  /* margin-bottom: 1rem; */
  margin-left: 1%;
}

input {
  width: 15%;
}

.goback {
  margin-left: 63%;
  margin-top: 5%;
}

p {
  margin-left: 20%;
}